/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed; /* absolute */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text here */
  background-color: #f5f5f5;
}

.footer p {
	font-size : .8em;
	margin-top : 20px;
	line-height : 1.5em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

